// Reseteamos los márgenes
* {
	margin: 0
	padding: 0
}
	


.button
	background-color: $color_bg3
	border: none
	padding: 20px
	text-align: center
	text-decoration: none
	font-family: $font-family1
	font-size: 16px
	cursor: pointer
	border-radius: 25px

.button1
	background-color: $color_bg2
	color: $color1

.button2
	color: $color0

// LAYOUT HOME
	
.grid-container {
	
	display: grid
	grid-template-columns: 1fr
	background-color: $color_bg0
	padding: 0px
	grid-template-areas: 'header''cursos''school''faqs''contact''footer'
}

.grid-header
	background-color: $color_bg1 
	padding: 0px
	font-size: 15px
	text-align: center
	display: grid
	justify-content: space-between
	grid-gap: 0px
	grid-area: header
	grid-template-areas: 'lang nav logo' 'img img img'

	.grid-item-lang
		background-color: $color_bg1 
		grid-area: lang
		a 
			color: $color0 // Blanco

	.grid-item-nav
		background-color: $color_bg1 // Azul Stim
		grid-area: nav
		a 
			color: $color0 // Blanco

	.grid-item-logo
		background-color: $color_bg1 // Azul Stim
		grid-area: logo

	.grid-item-img
		background-color: $color_bg0 // Azul Stim
		grid-area: img

.grid-cursos
	background-color: $color_bg0 // Blanco 
	font-family: $font-family1
	padding: 10px
	text-align: center
	display: grid
	justify-content: space-evenly
	grid-template-columns: 0.22fr 0.22fr 0.22fr

	grid-gap: 5px
	grid-area: cursos

	.grid-curso
		background-color: $color_bg1
		border: 10px solid $color1 // Azul Stim
		border-radius: 26px
		display: grid
		grid-template-rows: 0.20fr 0.20fr 1fr 0.2fr
		grid-row-gap: 10px

		.grid-producto
			background-color: $color_bg1
			border-radius: 20px
			padding: 0px
			text-align: center
			font-family: $font-family1

			p
				color: $color0
				font-size: 20px

		.grid-price
			background-color: $color_bg0
			border-radius: 20px
			padding: 10px
			font-size: 15px
			text-align: center
			color: $color1

		.grid-content
			background-color: $color_bg0
			border-radius: 20px
			padding: 10px
			font-size: 15px
			text-align: center
			color: $color1


		.grid-buttons
			background-color: $color_bg1
			border-radius: 20px
			font-size: 15px
			text-align: center

.grid-school
	background-color: $color_bg0
	padding: 10px
	font-size: 15px
	text-align: center
	display: grid
	grid-template-columns: auto auto
	grid-gap: 10px
	grid-area: school

	.grid-text
		background-color: $color_bg0
		border: 5px solid $color1
		border-radius: 20px

		padding: 10px
		font-size: 13px
		text-align: center

	.grid-googlmap
		background-color: $color_bg0
		
.grid-faqs
	background-color: $color_bg0
	padding: 10px
	font-size: 20px
	text-align: center
	grid-area: faqs
	display: grid
	grid-template-columns: 90%
	justify-content: center



	h2
		color: $color1

	.grid-item-cat
		background-color: $color_bg0
		padding: 5px
		font-size: 13px
		text-align: left

		h3
			background-color: $color_bg0
			color: $color1
		.pregunta 
			background-color: $color_bg1
			color: $color0
			border-bottom: 2px solid $color0


		.respuesta 
			background-color: $color_bg1
			color: $color0
			border-bottom: 5px solid $color0

.grid-contact
	background-color: $color_bg0
	padding: 10px
	font-size: 30px
	text-align: center
	grid-area: contact

.grid-footer
	background-color: $color_bg1
	padding: 10px
	font-size: 15px
	text-align: center
	grid-area: footer
	
	.grid-item-nav
		background-color: $color_bg1
		a
			color: $color0

	.grid-item-rrss
		background-color: $color_bg1
		a
			color: $color0


