<!-- CURSOS -->

{% for product in site.products %}
	<div class="grid-curso">

		<div class="grid-producto">
			<p>{{ product.name }}</p>
			<p>{{ product.sub_name }}</p>
	    </div>

		<div class="grid-content">  
			<p>{{ product.desc1 }}</p>
			<p>{{ product.desc2 }}</p>
		</div>

		<div class="grid-price">
			<p>{{ product.price1}}</p>
			<p>{{ product.price2}}</p>
			<p>{{ product.price3}}</p>
			<p id="offer">{{ product.price4}}</p>
	    </div>

		<div class="grid-buttons">
			<button class="button button1">
			+ info
			</button>
			<button class="button button2">
			Book a course
			</button>
		</div>

	</div>
{% endfor %}
		