{% assign sorted = (site.home | sort: 'position') %}
{% for module in sorted  %}
  <section class="{{module.type}}">
    {% case module.type %}
      {% when "hero" %}
        {{module.content}}
      {% when "cursos" %}
        {{module.content}}
        {% include cursos.html %}
      {% when "escuela" %}
        {{module.content}}
        {% include map.html %}
      {% when "banner_scroll" %}
        {{module.content}}
      {% when "faqs" %}
        {{module.content}}
      {% when "contacto" %}
        {{module.content}}
    {% endcase %}
  </section>
{% endfor %}
