.activities {
    
    margin-left: auto;
    margin-right: auto;
    
    padding: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .activity {
        margin: 15px;

        p {
            margin: auto;
            text-align: center;
            max-width: 90px;
        }
    }

}
