.activities {
    
    margin-left: auto;
    margin-right: auto;
    
    padding: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .activity {
        margin: 15px;
        text-align: center;
    }

}
