/*******************
*     CURSOS
********************/ 
.cursos {
    
    p {
        text-align: left;
        margin-left: 15px;
    }
    ul{
        li {
            margin: 15px 0px;
        }
    }
    .container-cursos {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .card-cursos {

            max-width: 280px;
            background: $bg_color_00;
            margin: 15px auto;
            border: $card-border solid $bg_color_00;
            border-radius: $card_radius;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;
            padding: $card-padding;

            h4 {
                background: $bg_color_00;
                font-size: $big-font-size;
                color: $font_color_01;
                text-align: center;
                margin: $card-margin;
                margin-bottom: 10px; 
            }

            p {
                background: $bg_color_01;
                margin: $card-margin;  
                text-align: center;
            }

            table {
                align-self: center;
                width: 100%; 
                list-style: none;
                margin: 15px 0 10px;
                padding: 10px 0;
                background: $bg_color_01;
            }
            
            .card-buttons {
                margin: $card-margin;
                padding: 0;
                background: $bg_color_00;
                .btn-book { 
                    float: left;
                    margin-right: 5px;
                }
                .btn-info {
                    float: right;
                    background-color: $bg_color_06;
                    border: 2px solid $bg_color_06;
                    color: $font_color_01;
                    background-color: $bg_color_06;

                    &:hover {
                        background-color: transparent;
                        a {
                        color: $font_color_06;
                        }
                    }
                }
            }        
        }
    }
}
