/*******************
*      PORTADA
********************/ 

.hero {
 
    background: url(/assets/img/cabecera_home.jpg) no-repeat center top fixed;
    min-height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    overflow: hidden;

    p {
        img {
            display: block;
            max-width: 100%;
            margin: 60px auto;
        }    
    }

    .btn{

        display: block;
        margin: 40px auto;
    }
    

}



