/*****************************
 * Reset some basic elements
 ****************************/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, table {
  margin: 0;
  padding: 0;
}

/*****************
 * Basic styling
 *****************/
 
body {

  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $bg_color_01;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h3,
h4,
h5,
h6,
p,
ul {
    display: block;
    text-align: left;
    margin: 15px;
}


/****************
 * MAIN element
 ****************/
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/************
 * Headings
 ************/
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

h1, h2, h3 {
  font-family: $font_01;
}

h2 {
  background: $bg_color_00;
  color: $font_color_01;
  text-align: center;
  padding: 15px 0px;
  margin-bottom: 15px;
}
h4 {
  font-weight: 600;
}


/************
 * Paragraphs
 ************/

p {
  font-family: $font_02;
}

/************
 * Links
 ************/
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($font_color_01, 0%);
  }

  &:hover {
    color: $font_color_01;
    text-decoration: none;
  }

  .nav-social &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/***********
 * Lists
 ***********/

ol, ul {
  list-style: none;
}

/***************
 *  BUTTONS
 ***************/

 .btn {
  border-radius: 8px;
  border: 2px solid $color_03;
  color: $font_color_01;
  background-color: $bg_color_03;
  padding: 16px 32px;
  margin: 0 auto;
  max-width: 150px;
  text-align: center;
  text-decoration: none;
  font-size: $base-font-size;
  font-weight: 500;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  
  &:visited {
    a { 
      color: darken($font_color_01, 0%);
    }
  }

  &:hover {
    background-color: transparent;
    a {
      color: $font_color_03;
    }
  }
}


/*********
 * ICONS
*********/

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.nav-social {
  li + li {
    padding-top: 5px;
  }
}
