
/***************
 * Site footer
 **************/
.site-footer {

  border-top: 1px solid $grey-color-light;
  background-color: $bg_color_footer;

  display: grid;
  grid-template-columns: 15px repeat(12, 1fr) 15px;
  grid-gap: 20px;
  justify-items: left;
    
  .footer-heading {
    @include relative-font-size(1.25);
    margin-bottom: $spacing-unit / 2;
    color: $font_color_01;
  }

  a {
    text-decoration: none;
    font-size: $footer-font-size;
    color: $font_color_01;
  }
  a:hover {
    color: $color_05;
  }

  p {
    color: $font_color_01;
  }


  /** NAVIGATION ***/
  .nav-logo{

    grid-column: 2 / span 12;
    justify-self: center;
        
    img {
      height: 40px;
    }

    .nav-social {
      display: flex;
      flex-direction: row;
    }
  }

  .nav-escuela {

    grid-column: 2 / span 12;

    display: flex;
    flex-direction: column;
  }

  
  .nav-trabaja {

    grid-column: 2 / span 12;

    margin-left: 0; 

  }
}